   <script src="https://unpkg.com/flowbite@1.4.7/dist/flowbite.js"></script>
   <script>
     feather.replace()
   </script>
   <!--scroll things-->
<script>
  function reveal() {
    var reveals = document.querySelectorAll(".reveal");

    for (var i = 0; i < reveals.length; i++) {
      var windowHeight = window.innerHeight;
      var elementTop = reveals[i].getBoundingClientRect().top;
      var elementVisible = 150;

      if (elementTop < windowHeight - elementVisible) {
        reveals[i].classList.add("active");
      } else {
        reveals[i].classList.remove("active");
      }
    }
  }

  window.addEventListener("scroll", reveal);
  
  html = html.replace(/</g, "&lt;").replace(/>/g, "&gt;");
</script>
<style>
  .reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
  }

  .reveal.active {
    transform: translateY(0);
    opacity: 1;
  }
  .active.fade-top {
    animation: fade-top 0.5s ease-in;
  }
  .active.fade-bottom {
    animation: fade-bottom 0.5s ease-in;
  }
  .active.fade-left {
    animation: fade-left 0.5s ease-in;
  }
  .active.fade-right {
    animation: fade-right 0.5s ease-in;
  }
   @keyframes fade-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes fade-left {
    0% {
      transform: translateX(-100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  @keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
</style>
   </div>
   <script>
    /* socket.on("connect", () => {
       document.getElementById("loading-screen").classList.add("hidden");
       document.getElementById("default-content").classList.remove("hidden");
     });
     socket.on("disconnect", () => {
       document.getElementById("loading-screen").classList.remove("hidden");
       document.getElementById("default-content").classList.add("hidden");
     })*/
   </script>
  </body>
</html>