<%-include("./include/head.ejs", {
  title: "OnBeat - Not Found",
  description: "Not found"
})%>
<%-include("./include/nav.ejs")%>
<div class="flex flex-col items-center justify-center w-full h-screen lg:h-screen transition-all" id="404">
  <p class="text-2xl">404 : Page Not Found</p>
  <p>The page you're looking for is now beyond our reach.</p>
</div>
<%-include('./include/footer.ejs')%>
