<%-include("./include/head.ejs", {
  title: "OnBeat - Not Found",
  description: "Not found"
})%>
<%-include("./include/nav.ejs")%>
<div class="flex flex-col items-center justify-center w-full h-screen lg:h-screen transition-all" id="404">
  <p class="text-2xl">Not found</p>
  <p>What are you doing here? There's nothing here!</p>
</div>
<%-include('./include/footer.ejs')%>