<!Doctype html>
<html height="100%">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%=title%></title>
    <meta name="description" content="<%=description%>"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
    <script>const socket = io()</script>
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap" rel="stylesheet">
    <style>
      body {
       font-family: "Inter", Sans-Serif;
      }
    </style>
    <script>
    // document.body.innerHTML = "";
     window.addEventListener('DOMContentLoaded', (event) => {
      // document.body.innerHTML = `Loading...`
     });
    </script>
    <script src="https://unpkg.com/feather-icons"></script>
  
  </head>
  <body class="h-full bg-slate-100 text-slate-900 dark:bg-slate-900 dark:text-slate-100 transition-all delay-200">