<div id="queueNone" class="flex justify-center items-center text-center w-full h-[80vh]">
  <p>
    <%=req.t("logged.guild.queue.noMusic", {
      ns: "dashboard", server_name: guild.name
    })%>
  </p>
</div>
<ul class="" id="queueMusic0"></ul>