<img class="rounded-2xl flex justify-center items-center text-center w-48 p-2" src="https://api.onbeat.me/images/favicon.ico" id="track-image"></img>
<p class="" id="track-name">
  Null
</p>
<p class="text-gray-600 dark:text-gray-400" id="track-artist">
  Null
</p>
<div id="player" class="">
  <div class="text-slate-900 dark:text-slate-100">
  </div>
  <div id="player-buttons" class="flex gap-x-2 mt-3 dark:text-white text-center">
    <button id="clear">
      <i data-feather="x-octagon"></i>
    </button>
    <button id="play">
      <i id="icon" data-feather="pause"></i>
    </button>
    <button id="skip">
      <i data-feather="skip-forward"></i>
    </button>
    <button id="shuffle">
      <i data-feather="shuffle"></i>
    </button>
  </div>
</div>