<%-include("./include/head.ejs", {
  title: "OnBeat - Home",
  description: "OnBeat is a simple music bot for Discord. With an advanced, yet simple to use dashboard, OnBeat is extremely easy to modify and control."
})%>
<%-include("./include/nav.ejs")%>
<div class="bg-slate-300 dark:bg-gray-700 flex flex-col items-center justify-center w-full h-[100vh] lg:h-[95vh] transition-all" id="home-center" style="">
  <p class="text-2xl">Maintenance</p>
  <p>This site is under maintenance. You can use the bot, but it may be unstable.</p>
</div>
<%-include('./include/footer.ejs')%>