<noscript>
  <img class="z-[90] w-full h-full" src="https://api.no-bitch.es/no%20javascript%3F" />
</noscript>
<script>
feather.replace()
</script>
<script src="/src/api/user.js"></script>
</body>
</html>
