<!Doctype html>
<html height="100%" class="bg-slate-100 h-full text-slate-900 dark:bg-slate-900 dark:text-slate-100 transition-all delay-200">
  <head>
    <meta charset="utf-8"/>
     <meta name="twitter:card" content="summary_large_image"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%=title%></title>
    <link rel="icon" href="https://api.onbeat.me/images/favicon.ico"/>
    <meta name="og:title" content="<%=title%>">
    <meta name="og:description" content="<%=description%>"/>
    <meta name="og:image" content="https://api.onbeat.me/images/favicon.ico">
    <!--<meta name="twitter:image" content="https://onbeat.me/images/preview_1.png">--->
    <meta name="keywords" content="onbeat, OnBeat.me, music"/>
   
   
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/css/uikit.min.css" />
     <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit-icons.min.js"></script>
    <script src="https://kit.fontawesome.com/2c8728d622.js" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
    <script>
      const socket = io({
        
      });
    </script>
   <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>--->
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.4.7/dist/flowbite.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/alpinejs" defer></script>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Lato&family=Noto+Sans:wght@500&display=swap');
    
    html {
      scroll-behavior: smooth;
    }
      body {
       font-family: "Poppins", Sans-Serif;
      }
    </style>
    <script>
    // document.body.innerHTML = "";
     window.addEventListener('DOMContentLoaded', (event) => {
      // document.body.innerHTML = `Loading...`
     });
     socket.on("notification", (info) => {
       UIkit.notification(`ALERT FROM SERVER: ${info.body}`)
     })
    </script>
    <script src="https://unpkg.com/feather-icons"></script>
  <style>
  </style>
  </head>
  <body class="bg-slate-100 h-full text-slate-900 dark:bg-slate-900 dark:text-slate-100 transition-all delay-200">
