<div class="flex flex-col justify-center items-center w-full h-[80vh]">
            <img src="/images/gifs/noVoiceChannel.gif" class="w-48 md:w-96 hidden dark:block" id="darkMode"/>
            <img src="/images/gifs/noVoiceChannelLight.gif" class="w-48 md:w-96 block dark:hidden" id="lightMode"/>
            <p id="voiceWarning">Join in a voice channel!</p>
</div>